@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;


}
body{
font-family: 'Lato', sans-serif;


}
.outerbox{
width: 100vw;   text-emphasis-style: ;
height: 100vh;
/* background-image:url(/project/login/wallpaperflare-cropped.jpg); */
background:linear-gradient(45deg,#13547A,#80D0C7);
background-repeat: no-repeat;
background-size: cover;
}
.innerbox{
    height: 12px;
}
.innerbox{
    width: 450px;
    height: 550px;
    margin:0 auto ;
    position: relative;
    top: 50%;
    transform:translateY(-50%) ;
    right: 15em;
    padding: 20px 90px  ;
    background-color: rgb(193, 188, 188);
    border-radius: 15px;
    box-shadow: 14px 14px 14px  rgba(3, 51, 55, 0.659) ;
}
.signup-header h1{
    font-size: 3rem;
    color:rgb(0, 0, 0);
    border-color: cadetblue;

}
.signup-body{
    margin: 30px 0;


}
.signup-body  p {
    margin: 10px 0;

}
.signup-body p label{

    display:inline-flex;
    font-weight: bold;
}
.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid slategrey;
    border-radius: 4px ;
    font-size: 1rem;
    margin-top: 5px ; 
}
.signup-body p input[type="submit"]{

    background-color:rgb(67, 168, 116);
    border: none;
    color: azure;
    cursor: pointer;

}
.signup-body p input[type="submit"]:hover{

    background-color: rgba(8, 85, 92, 0.659);

}
.signup-footer p{

color:rgba(8, 85, 92, 0.659);
text-align: center;


}
.signup-footer p a{

    color: rgb(53, 148, 99);
    font-weight: bold;
    
}
.signup-footer p a :hover{

background-color:rgb(67, 168, 116) ;

}
